.formContainer{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 350px;
    height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:50px;
    transform: translate(0, 35%);
    margin:auto;
    background-color: rgba(255, 255, 255);
    border-radius: 14px;
}

.formTitle{
    color: rgba(8,119,143,1);
    background: linear-gradient(to right, rgba(8,119,143,1)  42%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
}

.linksContainer{
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
    margin: auto;
}

.linksContainer > p {
    font-family: Roboto, sans-serif;
    cursor: pointer;
    font-size: 17px;
}

.linksContainer > p:hover {
    color: dodgerblue;
}

.linksContainer > p:active {
    color: rgba(0,212,255,1);
    transform: scale(0.8);
}